{% extends "layout.html" %}
{% block content %}
<head>
    <title>EC2 Network - Detailed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div class="ec2_network">
    <h1 style="color: black">*This is not a live page.  Refresh to capture the most recent information.</h1>
</div>

<div>
    <!-- Table Style -->
    <style type="text/css">
        th:tr{
            color: blue;
            white-space:nowrap;
        }
        table.center {
            margin-left:auto; 
            margin-right:auto;
        }
        tr:nth-of-type(2n){
            border: 1px solid black;
            background-color: rgba(150, 150, 150, 0.5);
      
        }
        td{
            padding: 8px 8px;
            border: 1px solid black;
            text-align: center;
        }
    </style>

    <!-- Table Content -->
    <table class="center">
        <th>
            <tr style="color: black; white-space:nowrap"> 
                <td>Number</td>
                <td>Instance Name</td>
                <td>Instance Id</td>
                <td>Instance Private IP</td>
                <td>Instance vCPU</td>
                <td>Instance Memory</td>
                <td>Disk Capacity</td>
                <td>Disk Free Space</td>
                <td>Disk Percent Free</td>
                <td>Instance State</td>
            </tr>
        </th>
        {%for i in range(0, length)%}
            <tr>
                <td>{{i}}</td>
                <td>{{ec2_instance_names[i]}}</td>
                <td>{{ec2_instance_ids[i]}}</td>
                <td>{{ec2_instance_private_ips[i]}}</td>
                <td>{{ec2_instance_vcpu[i]}}</td>
                <td>{{ec2_instance_memory[i]}}</td>
                
                <td>
                    {% for x in ec2_instance_disk_capacity[i]%}
                        {{x[0]}}
                            {% for element in x[1:] %}
                                {{element|join(',')}}
                            {% endfor %}
                            <br>
                        {{element}}
                    {%endfor%}
                </td>

                <td>
                    {% for x in ec2_instance_disk_usage[i]%}
                        {{x[0]}}
                            {% for element in x[1:] %}
                                {{element|join(',')}}
                            {% endfor %}
                            <br>
                        {{element}}
                    {%endfor%}
                </td>

                <td>
                    {% for x in ec2_instance_disk_percentage[i]%}
                        {{x[0]}}
                            {% for element in x[1:] %}
                                {{element|join(',')}}
                            {% endfor %}
                            <br>
                        {{element}}
                    {%endfor%}
                </td>                
                
                {% if ec2_instance_state[i] == 'running' %}
                    <td style="color: Green; ">{{ec2_instance_state[i]}}</td>
                {% else %}
                    <td style="color: Red; ">{{ec2_instance_state[i]}}</td>
                {% endif %}
        {%endfor%}
            </tr>
    </table>
  
   </div>
{% endblock %}