<!-- DO NOT REMOVE THE COMMENTED OUT CONTENT.  IT WILL BREAK THE PAGES AND IT DON"T KNOW WHY... -->
<!-- TO FIX, UNCOMMENT AND RECOMMENT OUT WHAT IS IN % block content % -->

{% extends "layout.html" %}
{% block content %}
<head>
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<div class="home">
  <!-- <h1 style="color: black">*This is not a live page currently.  Be sure to refresh to capture the most recent information.</h1> -->
</div>

{% endblock %}